body {
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  /* display: grid;
  justify-content: center;
  align-items: center; */

  /* display: grid;
  place-items: center; */
}

.element {
  border: 5px solid #000;
  background-color: skyblue;
  color: #fff;
  height: 200px;
  

  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  /* margin: auto; */
}
.element {
  text-align: center;
}

.element span {
  border: 5px solid red;
  
}