/* .frame h1[class=text] {
  color: red; */

  /* [class~=text] {
    color: red;
  } */

  /* [class^=text] {
    color: red;
  } */

/* [class$=text] {
  color: red;
} */

[class*=text] {
  color: red;
}