body {
  background-color: #000;
}

.faq-title {
  background-color: #303030;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.faq-title:after {
  content: '\e9c5';
  font-family: xeicon;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  transition: 0.35s;
}

.faq-title.active:after {
  transform: translateY(-50%) rotate(45deg);
}

